{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>Inicio</title>
</head>
<body>
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Acceso al Sistema</div>
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Usuario:</label>
              <input type="text" class="form-control" name="username" placeholder="Nombre Usuario">
            </div>
            <div class="form-group">
              <label for="Password">Contraseña:</label>
              <input type="password" class="form-control" name="password" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <a class="btn btn-info" href="{% url 'crearusuario' %}">Olvide mi Contraseña</a>
          </form>
        </div>
    </div>
  </div>

    {% include 'base/footer.html' %}

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>