
{% extends 'base/base.html' %}
{% block title %}
Editar Cargo
{% endblock %}
{% block header %}
<h1 class="h1">Cargo</h1>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Editar Cargo</div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning">Actualizar</button>
                <a class="btn btn-info" href="{% url 'listarcargo' %}">Cancelar</a>

                  {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            <textarea name="" id="" cols="30" rows="10">{{ field.label_tag }}</textarea>
                            <textarea name="" id="" cols="30" rows="10">{{ field }}</textarea>
                            <textarea name="" id="" cols="30" rows="10">{{ form.documento.id_for_label }}</textarea>
                            <label for="{{ form.documento.id_for_label }}">Documento:</label>
                            {{ form.subject|addcss:'form-control' }} 
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock %}