<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista Clientes</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Dui</td>
                <td>Direccion</td>
                <td>Telefono</td>
            </tr>
        </thead> 
        <tbody>
            {% for cliente in clientes %}
            <tr>               
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.dui }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.telefono }}</td>                
            </tr>
            {% endfor %}
        </tbody> 
    </table>
</body>
</html>